section.directions
    div.wrap
        h2 Направления:
        ul
            li: a(href="category.html") Парикмахерское исскуство
            li: a(href="category.html") Маникюр
            li: a(href="category.html") Педикюр
            li: a(href="category.html") Косметология
            li: a(href="category.html") Массажист
            li: a(href="category.html") Визажист
            li: a(href="category.html") Стилист
            li: a(href="category.html") Ресницы
            li: a(href="category.html") Брови
            li: a(href="category.html") Татуаж