section.faq
    div.wrap
        h2 Часто задаваемые вопросы
        div.list
            div.item
                div.question
                    strong Что понадобится для обучения?
                    div.mark
                div.answer
                    span Обучение подходит абсолютно всем: новичкам, практикующим мастерам и представителям бьюти-сферы. Каждый найдет для себя полезную информацию, научится новой технике точечного плетения. На курсе ты сосредоточишься как на теоретических знаниях, так и на практических.
            div.item
                div.question
                    strong Что делать, если непонятен материал урока?
                    div.mark
                div.answer
                    span Обучение подходит абсолютно всем: новичкам, практикующим мастерам и представителям бьюти-сферы. Каждый найдет для себя полезную информацию, научится новой технике точечного плетения. На курсе ты сосредоточишься как на теоретических знаниях, так и на практических.
            div.item
                div.question
                    strong Как будет проходить обучение?
                    div.mark
                div.answer
                    span Обучение подходит абсолютно всем: новичкам, практикующим мастерам и представителям бьюти-сферы. Каждый найдет для себя полезную информацию, научится новой технике точечного плетения. На курсе ты сосредоточишься как на теоретических знаниях, так и на практических.
            div.item
                div.question
                    strong Кому подойдет этот курс?
                    div.mark
                div.answer
                    span Обучение подходит абсолютно всем: новичкам, практикующим мастерам и представителям бьюти-сферы. Каждый найдет для себя полезную информацию, научится новой технике точечного плетения. На курсе ты сосредоточишься как на теоретических знаниях, так и на практических.
            div.item
                div.question
                    strong Вы выдаете сертификат?
                    div.mark
                div.answer
                    span Обучение подходит абсолютно всем: новичкам, практикующим мастерам и представителям бьюти-сферы. Каждый найдет для себя полезную информацию, научится новой технике точечного плетения. На курсе ты сосредоточишься как на теоретических знаниях, так и на практических.
            div.item
                div.question
                    strong Кто будет проверять домашние задания?
                    div.mark
                div.answer
                    span Обучение подходит абсолютно всем: новичкам, практикующим мастерам и представителям бьюти-сферы. Каждый найдет для себя полезную информацию, научится новой технике точечного плетения. На курсе ты сосредоточишься как на теоретических знаниях, так и на практических.
