section.footer
    div.wrap
        div.description
            div.logotype
                img(src="images/logotype_light.svg")
            span Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и не является публичной офертой. Для получения подробной информации о наличии и стоимости указанных товаров и (или) услуг, пожалуйста, обращайтесь к менеджерам отдела клиентского обслуживания с помощью специальной формы связи или по телефонам.
        div.directions
            strong Направления:
            ul
                li: a(href="category.html") Парикмахерское исскуство
                li: a(href="category.html") Маникюр
                li: a(href="category.html") Педикюр
                li: a(href="category.html") Косметология
                li: a(href="category.html") Массажист
                li: a(href="category.html") Визажист
                li: a(href="category.html") Стилист
                li: a(href="category.html") Ресницы
                li: a(href="category.html") Брови
                li: a(href="category.html") Татуаж
                li: a(href="https://mskr-online.ru", target="_blanc") Онлайн обучение
        div.about
            strong Академия:
            ul
                li: a(href="text.html") Об академии
                li: a(href="teachers.html") Преподователи
                li: a(href="text.html") Льготное обучение
                li: a(href="text.html") Аттестация
                li: a(href="reviews.html") Отзывы
                li: a(href="articles.html") Новости
                li: a(href="articles.html") Статьи
                li: a(href="jobs.html") Биржа труда
                li: a(href="https://shop-mskr.ru") Интернет магазин
                li: a(href="contacts.html") Контакты
        div.copyright
            span © 2013-2021 Мастерская красоты.
            span Все права защищены.
        div.phones
            a(href="tel:8 (928) 226-43-29") 8 (928) 226-43-29
            a(href="tel:8 (928) 226-43-45") 8 (928) 226-43-45
        div.adress
            include ../../images/pin.svg
            span г. Ростов-на-Дону,
                br
                | ул. Пушкинская, 25/67

include _popup_menu.pug
include _popup_confirm.pug
