doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script(defer, src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
        script(defer, src="scripts/script.js")
        script(defer, src="scripts/slick.js")
        script(defer, src="scripts/modal.js")
        script(src="scripts/maskinput.js")
        title Мастерская красоты
    body
        script.
            var adress = "г. Ростов-на-Дону, ул. Пушкинская, 25/67";
            var phone = "8 (928) 226-43-29";
            var email = "moook.email@gmail.com";
            var coord = "[47.222506, 39.700730]";