div(modal="confirm")
    include ../../images/cross.svg
    div.content
        h1 Успешно!
        p Ваше сообщение успешно отправлено
        br
        a(href="index.html").button Перейти на главную