section(modal="teacher")
    include ../../images/cross.svg
    div.content
        div(style="background-image: url('images/team.webp')").preview
        span Специалист по массажу
        strong Дорохова Елена Николаевна
        p Многократный участник международных семинаров по парикмахерскому искусству. Призер Чемпионата России по парикмахерскому искусству, маникюру и декоративной косметике -2014 год в номинации «Прогрессивный образ женщины». Член жюри внутреннего конкурса среди учащихся и выпускников УЦ «Мастерская красоты».
        div.merge
            div
                span  Опыт работы:
                strong 8 лет
            div
                span  Место работы:
                strong Технолог компании Matrix
