section(modal="review")
    include ../../images/cross.svg
    div.content
        ul.stars
            img(src="images/star.svg")
            img(src="images/star.svg")
            img(src="images/star.svg")
            img(src="images/star.svg")
            img(src="images/star.svg")
            span.date 19.12.2020
        strong.name Наталия
        p.full Если вы решили здесь пройти курс косметологоа, то постарайтесь не попасть к Кочетковой Анастасии Владимировне. Очень много апломба, общается с учениками как будто профессор с детсадовцами. Почему то позволяет себе обращаться ко всем на ты, хотя ученица может быть старше на 15-20 лет. Фразы типа за” каждую невыщипанную бровь будете получать подзатыльник” или “поедете к моделям делать уборку” для нее в порядке вещей, причем в присутствии моделей. Экзамен по теории почему то тоже принимается в присутствии моделей. Очень неприятный осадок от обучения на этом курсе остался, нигде такого отношения не встречала за свои деньги.