section(modal="menu")
    include ../../images/cross.svg
    div.content
        ul
            li.active
                a(href="index.html") Главная
            li.has-child
                a Направления
                ul
                    li: a(href="category.html") Парикмахерское исскуство
                    li: a(href="category.html") Маникюр
                    li: a(href="category.html") Педикюр
                    li: a(href="category.html") Косметология
                    li: a(href="category.html") Массажист
                    li: a(href="category.html") Визажист
                    li: a(href="category.html") Стилист
                    li: a(href="category.html") Ресницы
                    li: a(href="category.html") Брови
                    li: a(href="category.html") Татуаж
            li.has-child
                a Академия
                ul
                    li: a(href="text.html") Об академии
                    li: a(href="teachers.html") Преподователи
                    li: a(href="text.html") Льготное обучение
                    li: a(href="text.html") Аттестация
                    li: a(href="reviews.html") Отзывы
                    li: a(href="articles.html") Новости
                    li: a(href="articles.html") Статьи
                    li: a(href="jobs.html") Биржа труда
                    li: a(href="https://shop-mskr.ru") Интернет магазин
            li
                a(href="contacts.html") Контакты
            li.online
                a(href="https://mskr-online.ru")
                    include ../../images/online.svg
                    span Онлайн обучение
        div.adress
            include ../../images/pin.svg
            span г. Ростов-на-Дону,
                br
                | ул. Пушкинская, 25/67
        div.phones
            a(href="tel:8 (928) 226-43-29") 8 (928) 226-43-29
            a(href="tel:8 (928) 226-43-45") 8 (928) 226-43-45
