include parts/_head.pug
include parts/_header.pug
 
section.breadcrumbs
    div.wrap
        ul
            li: a(href="index.html") Главная
            li: a(href="categories.html") Направления
            li: span Парикмахерское искусство

include parts/_directions.pug

section.page.courses
    div.wrap
        div.header
            h2 Парикмахерское искусство
        div.list
            -for( i=6; i<=12 ; i++ )
                a(href="course.html").card.linked
                    div(style="background-image: url('images/courses/course_" + i + ".webp')").preview
                    div.content
                        div.complexity.hard
                            div
                            div
                            div
                            span Продвинутый
                        strong Парикмахер – универсал
                        p Обучись искусству создания причесок, которые ты сможешь повторять самостоятельно
                        span.price от 48 000 руб.

script(defer).
    $('.directions ul li:first-child').addClass('active')

include parts/_footer.pug