include parts/_head.pug
include parts/_header.pug

section.breadcrumbs
    div.wrap
        ul
            li: a(href="index.html") Главная
            li: a(href="text.html") Академия
            li: span Отзывы

section.page.reviews
    div.wrap
        div.header
            h2 Все отзывы о академии
            div.stars
                img(src="images/star.svg")
                img(src="images/star.svg")
                img(src="images/star.svg")
                img(src="images/star.svg")
                img(src="images/star.svg")
                span 77 отзывов
        div.list
            div.card
                div.head
                    strong.name Виктория
                    ul.stars
                        img(src="images/star.svg")
                        img(src="images/star.svg")
                        img(src="images/star.svg")
                        img(src="images/star.svg")
                        img(src="images/star.svg")
                        span.date 19.12.2020
                p Только вернулась с РФ лифтинга лица и коррекции фигуры, я в восторге! Очень ощутимые и результативные процедуры в комфортной обстановке, а мастер аппаратной косметологии Наталья влюблена, не только в свою профессию, но и в своих клиентов и учениц. Всем рекомендую! Спасибо нашей Мастерской Красоты за широкий спектр косметологических услуг!
                p Только вернулась с РФ лифтинга лица и коррекции фигуры, я в восторге! Очень ощутимые и результативные процедуры в комфортной обстановке, а мастер аппаратной косметологии Наталья влюблена, не только в свою профессию, но и в своих клиентов и учениц. Всем рекомендую! Спасибо нашей Мастерской Красоты за широкий спектр косметологических услуг!
                p Только вернулась с РФ лифтинга лица и коррекции фигуры, я в восторге! Очень ощутимые и результативные процедуры в комфортной обстановке, а мастер аппаратной косметологии Наталья влюблена, не только в свою профессию, но и в своих клиентов и учениц. Всем рекомендую! Спасибо нашей Мастерской Красоты за широкий спектр косметологических услуг!
            -for( i=1; i<=9 ; i++ )
                div.card
                    div.head
                        strong.name Виктория
                        ul.stars
                            img(src="images/star.svg")
                            img(src="images/star.svg")
                            img(src="images/star.svg")
                            img(src="images/star.svg")
                            img(src="images/star.svg")
                            span.date 19.12.2020
                    p Только вернулась с РФ лифтинга лица и коррекции фигуры, я в восторге! Очень ощутимые и результативные процедуры в комфортной обстановке, а мастер аппаратной косметологии Наталья влюблена, не только в свою профессию, но и в своих клиентов и учениц. Всем рекомендую! Спасибо нашей Мастерской Красоты за широкий спектр косметологических услуг!

include parts/_footer.pug