include parts/_head.pug
include parts/_header.pug
 
section.breadcrumbs
    div.wrap
        ul
            li: a(href="index.html") Главная
            li: a(href="categories.html") Академия
            li: span Текстовая страница

section.page.text
    div.wrap
        div.date
            include ../images/calendar.svg
            span 21 августа 2021
        h1 Оснащение косметологического кабинета для проведения инвазивных процедур (инъекций)
        p Данный вопрос регламентирует Приказ Министерства здравоохранения и социального развития Российской Федерации от 18 апреля 2012 г.№ 381н “Об утверждении Порядка оказания медицинской помощи населению по профилю “косметология”
        strong Консультирование пациентов;
        p обследование пациентов (с проведением дерматоскопии; измерения количества поверхностного сала и активности сальных желез – себуметрии; исследования десквамации, пигментации, трансдермальной потери жидкости, эластичности кожи; pH-метрии кожи; профилографии, ультразвукового исследования эпидермиса, дермы, гиподермы, сосудов кожи и подкожной клетчатки, поверхностных мышц).
        strong В манипуляционной проводятся неинвазивные процедуры
        p косметологическая чистка лица; криомассаж; криоорошение; медицинский массаж лица, шеи и области декольте ручной; пилинг аппаратный кожи; пилинг поверхностный)
        strong В процедурной осуществляются инвазивные процедуры
        p введение инъекционных тканевых наполнителей; инъекции препаратов токсина ботулизма; инъекционная коррекция рубцовой ткани; мезотерапия; биоревитализация; пилинг срединный; инъекционное введение лекарственных препаратов
        div(class="two_image")
            img(src="images/courses/course_1.webp")
            img(src="images/courses/course_4.webp")
        h2 В структуре Кабинета могут быть предусмотрены:
        strong Стандарт оснащения процедурного кабинета
        ol
            li Мебель медицинская 1 комплект
            li Лампа бестеневая с увеличительной лупой
            li Устройство ультразвуковой очистки и дезинфекции 1инструментов и изделий (ванна)
            li Стерилизатор воздушный, суховоздушный
            li Стерилизатор ультрафиолетовый (кварцевый)
            li Облучатель – рециркулятор воздуха ультрафиолетовый
            li Холодильник для хранения медикаментов
            li Стойка для внутривенных вливаний 1vv
        strong Стандарт оснащения манипуляционного кабинета
        ul
            li Мебель медицинская 1 комплект
            li Лампа бестеневая с увеличительной лупой
            li Устройство ультразвуковой очистки и дезинфекции 1инструментов и изделий (ванна)
            li Стерилизатор воздушный, суховоздушный
            li Стерилизатор ультрафиолетовый (кварцевый)
            li Облучатель – рециркулятор воздуха ультрафиолетовый
            li Холодильник для хранения медикаментов
            li Стойка для внутривенных вливаний 1vv
        p обследование пациентов (с проведением дерматоскопии; измерения количества поверхностного сала и активности сальных желез – себуметрии; исследования десквамации, пигментации, трансдермальной потери жидкости, эластичности кожи; pH-метрии кожи; профилографии, ультразвукового исследования эпидермиса, дермы, гиподермы, сосудов кожи и подкожной клетчатки, поверхностных мышц).

include parts/_footer.pug